name: "[TEST] Create preview"

on: [pull_request, push]

jobs:
  trigger-webhook:
    runs-on: ubuntu-18.04
    steps:
      - name: Check enviroment valiables
        run: |
          echo ""
          echo "GITHUB_REPOSITORY: $GITHUB_REPOSITORY"
          echo "GITHUB_REF: $GITHUB_REF"
          echo "github.event.number: $github.event.number"
          echo "  "

       # 参考：https://qiita.com/osakiy/items/df80db383ce33b82c797#comment-2fa1f29c729216bcfe39
      # - name: Trigger and submit comment
      #   uses: actions/github-script@v3.0.0
      #   if: github.event.pull_request.opened == true
      #   with:
      #     script: |
      #       github.issues.createComment({
      #         issue_number: context.issue.number,
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         body: "You can preview here.  \n[https://${{ github.event.number }}.dot-cube.github.io.preview.moyashi.dev](https://${{ github.event.number }}.dot-cube.github.io.preview.moyashi.dev)"
      #       })
      # - name: Trigger and submit comment
      #   run: >
      #     curl
      #     -X POST
      #     -H "Authorization: token $GITHUB_TOKEN"
      #     -H "Accept: application/vnd.github.v3+json"
      #     --data "{ \"body\": \"You can preview here.  \n[https://${{ github.event.number }}.dot-cube.github.io.preview.moyashi.dev](https://${{ github.event.number }}.dot-cube.github.io.preview.moyashi.dev)\" }"
      #     ${{ github.event.pull_request.comments_url }}
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
